@import "../../styles-variables.scss";

.align-right {
    text-align: right;
}

.submit-button {
    background-color: $accent;
    border-color: $accent-dark;
}

.logo-holder {
    text-align: center;
    margin-bottom: 30px;
}

.logo{
    width: 60%;
    height: auto;
}