@import "./styles-variables.scss";

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $img_bg;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100%;
  position: relative !important;
  margin: 0;
}

// Variables and defaults
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
