@import "./styles-variables.scss";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $img_bg;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
  position: relative !important;
  width: 100% !important;
}

body {
  margin:0px;	
  padding:0px;
}

// Variables and defaults
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}



html { 
  font-size: 75%;
 // 12px 
}
body { 
  font-size: 1rem;
 // 12px 
}
li { 
  font-size: 0.833rem;
 // 10px 
}