/* COLORS */
$backdrop: rgba(255, 255, 255, .8);
$primary: #212121;
$primary-light: #616161;
$secondary: #E0E0E0;
$secondary-light: #FAFAFA;
$accent-dark: #FFAB00;
$accent: #FFC400;
$accent-light: #FFE57F;
$dark: #000000;
$light: #FFFFFF;
$danger: #F44336;

/* BACKGROUND IMAGES */
$img_bg: url('./assets/bg.jpg');
